body {
	font-family: 'Alice', serif;
}

footer {
	font-family: 'Alice', serif;
	background-image: linear-gradient(-90deg, #047272, #C252FA);
	padding: 20px;
	
}

.btn{
	border-radius: 60px;
}

.navegador{
	background-color: white;
}

.frase {
	background-image: linear-gradient(-90deg, #047272, #C252FA);
	
}

.peu {
	color: white;
}


.pfrase {
	color: white;
	font-size: 8em;
}

video {
	width: 100%;
	border-radius: 60px;
	
}

.quisom img{
	border-radius: 30px;
}


.video {
	z-index: -1000;
}


.botonesnav{
	margin-left: 150px;
}

.btn-willy {
	background-color: #40689d;
	color:white;
	margin-top: 30px;
}
.btn-willy:hover{
	background-color: #885cd0;
	color:white;
	margin-top: 30px;

}

.h1som {
	text-align: center;
	padding-bottom: 10px;
}

.psom {
	font-size: 1.5em;
	text-align: justify;
}

#historia {
	padding-top: 100px;
}
#quefem {
	padding-top: 100px;
	padding-bottom: 50px;
}
#amiga {
	padding-top: 100px;	
}

/*---------------*/
/*---Admin---*/
.h4inicio {
	color: #be53f7;
	/*text-align: right;*/
}
.padmin {
	font-size: 1.5em;
	text-align: justify;
	/*color: white;*/
}
.h2admin {
	text-align: center;
	color: #6162b4;

}
.margen_arriba {
	padding-top: 20px;
}
.margen_derecho {
	margin-right: 20px;
}
.datos_tabla {
	color: #6162b4;
}

/*---------------*/
/*---Padres---*/

.h2fam {
	text-align: center;
	color: white;

}
.pfam {
	font-size: 1.5em;
	text-align: justify;
	color: white;
}

.pfam img{
	margin-left: 40px;
}

.peque {
	color: white;
}

/*-------pizarra-------*/
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.pizarra {
    background: url(../img/chalkboard.png);
    /*width:100%;*/
    font-family: 'Gloria Hallelujah';
   font-size: 1.5em;
    color:rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.6);
    height:auto;
    padding:50px;
    border-radius: 30px;
}


/*----------------*/
/* Google Map */
#map{
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
}

/* Open and Close Styles */
.close-map{
	height: 0;
}

.open-map{
	height: 500px;
}

/* Open and Close Button Styles */

#map-btn1-div {
	width: 100%;
	background: #885cd0;
}

a.gmap-btn.btn-show {
	display: block;
}
a.gmap-btn.btn-hide {
	display: none;
}
a.gmap-btn{
	height: auto;
	color: black;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
}

a.gmap-btn:focus {
	outline: 0;
}

.close-map-button{
	padding:10px;
	opacity: 1;
}

.open-map-button{
	padding:10px;
	opacity: 0.5;
}

#map .google-map-big-button:hover{
	background:#885cd0;
	color:#fff;
}

/* Google Map Div */
#map #google-map{
	height: 500px;
	display: block;
	position: absolute;
	bottom:0;
	width: 100%;
	/*left: 15%;*/
	z-index: 1;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
}

.close-map #google-map{
	opacity: 0;
}

.open-map #google-map{
	opacity: 1;
}

/* -- Slider---- */
.main {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:#000;
}
 
.slides .active {
	background:#000;
}
 
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}

